@font-face {
    font-family: "Roboto";
      src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-family:"Roboto-Thin";
        src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
    font-family:"Roboto-Italic";
        src: url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
    font-family:"Roboto-Bold";
        src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  }

*{
    font-family: "Roboto-Thin",'Roboto',"Roboto-Italic",Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}
/*Grid Layout Setup*/
.grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main";
    width:320px;
}
.new-members-recent-activity,
.daily-traffic-users{
    border: 1px solid lightgrey;
    margin: 0;
}
.recent-activity,
.mobile-users{
    border-left: 1px solid lightgrey;
}
.last-activity-member{
    border:none;
}


/*Main Header -------------------------  */
 .heading{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #7c7ebc;
    padding: 10px;
    width: 320px;
}

.user-header{
    display: flex;
    color: white;
    border-left: solid 2px #4d4c72;
    padding-left: 15px;
}
#user-name{
    display:none;
    margin: 10px 15px;
}
.app-title{
    color: white;
    background-color:#7c7ebc;
    font-size: 1.5em;
    margin-right: auto;
    margin-top:0;
    margin-bottom: 0;
    font-family:"Roboto-Thin",Arial, Helvetica, sans-serif;

}
#bolded-title{
    font-family: "Roboto-Bold",Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

.bell{
    width: 45px;
    background-color: inherit;
    padding: 10px 0px 10px 10px;
    border: solid 1px inherit;
    transition: background-color .6s #7c7ebc;
}

.bell:hover{
    background-color: #4d4c72;
}
.notification-icon{
    width: 12px;
    height: 12px;
    background-color: red;
    margin-bottom: auto;
    border-radius:50%
}
.member-profile{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: auto;
}

/*Navigation -------------------------*/
.navigation{
    grid-area: nav;
    background-color: #4d4c72;
    display: flex;
    justify-content: center;
    width: 320px;
}
.nav-icon{
    width: 6%;
    height: 6%;
    margin: 15px;
}
.main{
    grid-area: main;
    width: 320px;

}
.main-heading{
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 320px;
}
.dashboard{
    margin-right: auto;
    font-family: "Roboto-Thin", "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}
.dashboard-search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-left: 0.5rem;
    background-color:#d1cfcecb;
    border-bottom: 2px solid #b2b2b2;
    border-left: 2px solid #b2b2b2;
}
.searchbox{
    height: 2.5rem; 
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.alert{
    display: flex;
    background-color:#7377bf;
    border-radius: 5px;
    margin: 1rem;
    align-items: center;
    padding: 5px;
    justify-content: flex-start;
    color: white;
}
.transition{
    transition: 1s ease-in;
  }
.alert p {
    margin: 0 auto;
    cursor: pointer;
}
#close{
    margin:0;
    padding: 0 10px;
}
.subheading{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 1rem;
}
/* traffic section */
.traffic{
    display: flex;
    align-items: center;
}
.traffic p {
    margin-right: auto;
}

.traffic-buttons{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 25px;
    font-family: "Roboto-Thin", "Roboto", Arial, Helvetica, sans-serif;
}
.traffic-nav{
    margin: 0 25px;
}
.message-user{
    display: flex;
    flex-direction: column;
}
.message-user button{
    margin-top: auto;
}
#search-input,
#user-message{
    margin: 5px 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.settings{
    display: flex;
    flex-direction: column;
}

#timezones{
    margin: 5px 1rem;
    padding: 10px;
    border: 1px solid lightgray;
}
.button-container{
    display: flex;
    align-items: center;
    margin: 1rem;
}
.switch{
    position: relative;
    width: 60px;
    height:34px;
    
}
.switch input{
    opacity: 0;
    width: 0;
    height:0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#7377bf;
    transition:.4s;
}
.title{
    margin-right: 1em;
}
.slider:before{
    position: absolute;
    content:"";
    height:26px;
    width:26px;
    left:5px;
    bottom:5px;
    background-color:white;
    transition:.4s;
}


input:checked + .slider{
    background-color: #7377bf;
}
input:checked + .slider:after{
    content: "ON";
    display: block;
    position: absolute;
    top: 18%;
    left:10%;
    font-size: 12px;
    color: white;
}
.slider:after{
    content:'OFF';
    display: block;
    position: absolute;
    top: 20%;
    right:10%;
    font-size: 12px;
    color: white;
}
input:focus +.slider{
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
.final-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}
.save-button,
.cancel-button{
    width: 50%;
    padding: 0.5rem;
    background-color:#7377bf;
    color: white;
    border-radius: 5px;
}
.send-button{
    padding: 0.5rem;
    margin: 0 1rem;
    background-color:#7377bf;
    color: white;
    border-radius: 5px;
}
/* Recent Activity ------------------------- */
.activity-container{
    display: flex;
    align-items:center;
    border-bottom: 0.25px solid grey;
}

.recent-profile{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top:20px;

}

.members-activity{
    display:flex;
    flex-direction: column;
    margin: 10px;
}
.recent-text,
.subtext{
    margin:0;
}
.recent-text{
    margin-top: 18px;
}

.subtext{
    font-family:"Roboto-Italic","Roboto",Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.recent-activity p::last-child{
    border:none;
}
/* new Members ------------------------- */
.member{
    display: flex;
    border-bottom: 0.25px solid grey;
}
.members-info{
    display:flex;
    flex-direction: column;
    margin: 10px;
}
.member-date{
    margin-left: auto;
}
.member p{
    margin-bottom: 0;
}
.member a{
    color: blue;
    font-size:10px;
}

/* Social stats -------------------------    */
.icon{
    width: 55px;
    margin: auto;
}

.icon-container{
    display: flex;
    justify-content: space-around;
    background-color: #7377bf;
    border-radius: 50%;
    width:90px;
    height:90px;
}
.social-text{
    margin: 0 2.5rem;
}

.social-media{
    display: flex;
    margin: 1rem;
    justify-content: center;
    border: 1px solid grey;
    padding: 1.5rem;
    border-radius: 5px;
    background-color:#e7e7f0;
}
.media-title{
    color:#7377bf;
    font-size: 20px;
    margin:0;
}
.media-value{
    margin-top:0;
    color:#595958;
    font-size: 38px;
}
.new-members,
.recent-activity{
    padding: 10px;
}

.settings-message{
    border-top: 1px solid grey;
}
.settings{
    border-left:1px solid grey;
    width: 100%;
}

@media (min-width:768px){
    *{
        font-size: 18px;
    }
    .bell{
        width: 35px;
        background-color: inherit;

    }
    .member-profile{
        border-radius: 50%;
        width: 35px;
    }
    .grid{
        grid-template-areas: 
        "header header"
        "nav main";
    }
    .navigation{
        flex-direction: column;
        justify-content: flex-start;
        width: 60px;
    }
    .navigation svg{
        width: 30px;
        height: 30px;
    }
    .settings-message,
    .daily-mobile{
        display: flex;
        justify-content: space-between;
        margin: 1rem 1rem;
    }
    .message-user,
    .daily-traffic,
    .mobile-users,
    .settings{
        width: 50%;
    }
    .button-container{
        margin:0 1rem;
        width: 100%;
    }

    #user-name{
        display: inline;
    }

}
@media (min-width:1024px){
    .social-media-container{
        display: flex;
        justify-content: center;
    }
    #lineChart{
        margin: 0 auto;
    }
    .new-members-recent-activity{
        display: flex;
        justify-content: space-between;
    }
    .new-members,
    .recent-activity{
        width:50%;
    }
    .user-header{
        margin-left: 10px;
    }
    .bell{
        width: 50px;
        background-color: inherit;

    }
}
